<body class="" style="overflow: hidden;">

    <div class="holder" id="cygrid">
        <!-- maybe have the grid here? -->
        <div class=".cygrid">
            <!-- load the three.js and WebGL support -->
            <script src="/themes/cybears/static/js/3d/three.min.js"></script>
            <script src="/themes/cybears/static/js/3d/WebGL.js"></script>

            <!-- Post processing bloom filter begins here - credit to mrdoob -->
            <script src="/themes/cybears/static/js/3d/postprocessing/EffectComposer.js"></script>
            <script src="/themes/cybears/static/js/3d/postprocessing/RenderPass.js"></script>
            <script src="/themes/cybears/static/js/3d/postprocessing/ShaderPass.js"></script>
            <script src="/themes/cybears/static/js/3d/shaders/CopyShader.js"></script>
            <script src="/themes/cybears/static/js/3d/shaders/LuminosityHighPassShader.js"></script>
            <script src="/themes/cybears/static/js/3d/postprocessing/UnrealBloomPass.js"></script>

            <!-- load the glTF/STL loading modules for the 3d meshes -->
            <script src="/themes/cybears/static/js/3d/loaders/STLLoader.js"></script>
            <script src="/themes/cybears/static/js/3d/loaders/GLTFLoader.js"></script>

            <!-- load the amatuer retro stylings and actually render -->
            <script src="/themes/cybears/static/js/3d/cybeartron.js"></script>

        </div>
    </div>
    <div class="jumbotron">
        <h1 class="cybeartron preslash postslash">Welcome to Cybears CTF</h1>
    </div>
    <div class="text-center">
        <p>Register <a href="register">here</a>.</p>
        <p>Follow the <a href="rules">rules</a>.</p>
        <p>Read the <a href="story">story</a> so far.</p>
    </div>
    <br>
    <h3 class="text-center">Prizes:</h3>
    <div class="text-center">
        <p>1st: $1000</p>
        <p>2nd: $500</p>
        <p>3rd: $250</p>
        <span class="text-muted" style="color: #a0a1a2!important"><i>+ trophy challenge prizes</i></span>
    </div>
    <br>

</body>
