.highlight table td {
    padding: 5px
}
.highlight table pre {
    margin: 0
}
.highlight,
.highlight .w {
    color: #d0d0d0
}
.highlight .err {
    color: #151515;
    background-color: #ac4142
}
.highlight .c,
.highlight .cd,
.highlight .cm,
.highlight .c1,
.highlight .cs {
    color: #888
}
.highlight .cp {
    color: #f4bf75
}
.highlight .nt {
    color: #f4bf75
}
.highlight .o,
.highlight .ow {
    color: #d0d0d0
}
.highlight .p,
.highlight .pi {
    color: #d0d0d0
}
.highlight .gi {
    color: #3292be
}
.highlight .gd {
    color: #ac4142
}
.highlight .gh {
    color: #6a9fb5;
    font-weight: bold
}
.highlight .k,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kv {
    color: #aa759f
}
.highlight .kc {
    color: #d28445
}
.highlight .kt {
    color: #d28445
}
.highlight .kd {
    color: #d28445
}
.highlight .s,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .s2,
.highlight .sh,
.highlight .sx,
.highlight .s1 {
    color: #3292be
}
.highlight .sr {
    color: #75b5aa
}
.highlight .si {
    color: #8f5536
}
.highlight .se {
    color: #8f5536
}
.highlight .nn {
    color: #f4bf75
}
.highlight .nc {
    color: #f4bf75
}
.highlight .no {
    color: #f4bf75
}
.highlight .na {
    color: #6a9fb5
}
.highlight .m,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .il,
.highlight .mo,
.highlight .mb,
.highlight .mx {
    color: #3292be
}
.highlight .ss {
    color: #3292be
}
@font-face {
    font-family: "IBM 3270 narrow";
    src: url("../fonts/3270Narrow.woff") format("woff");
}
@font-face {
    font-family: "Megatron";
    src: url("../fonts/Megatron.woff") format("woff");
}
@font-face {
    font-family: "Megatron italic";
    src: url("../fonts/Megatron-Italic.woff") format("woff");
}
@font-face {
    font-family: "Cybertron";
    src: url("../fonts/Cybertron.woff") format("woff");
}
@font-face {
    font-family: "Optimus";
    src: url("../fonts/Optimus.woff") format("woff");
}
@font-face {
    font-family: "Optimus Hollow";
    src: url("../fonts/OptimusHollow.woff") format("woff");
}

body {
    margin: 0;
    padding: 0;
    /* background-color: transparent; */
    background-color: #080808;
    color: #eaeaea;
    font-size: 22px;
    line-height: 1; /* formerly 1.5 */
    font-family: "IBM 3270 narrow", Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}
.container {
    /*width: 90%;*/
    max-width: 1080px;
    margin: 0 auto
}
section {
    display: block;
    margin: 0 0 20px 0
}

li {
    line-height: 1.4
}
header {
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    border-bottom: 1px dashed #b153e8;
    padding: 20px 0;
    margin: 0 0 40px 0
}
header h1 {
    font-size: 32px;
    line-height: 1.5;
    margin: 0 0 0 -40px;
    font-weight: bold;
    font-family: "IBM 3270 narrow", Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    color: #b153e8;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(181, 232, 83, 0.1), 0 0 10px rgba(181, 232, 83, 0.1);
    letter-spacing: -1px;
    -webkit-font-smoothing: antialiased
}
header h1:before {
    content: "./ ";
    font-size: 26px
}
header h2 {
    font-size: 20px;
    font-weight: 300;
    color: #666
}
#downloads .btn {
    display: inline-block;
    text-align: center;
    margin: 0
}
#main_content {
    width: 100%;
    -webkit-font-smoothing: antialiased
}
section img {
    max-width: 100%
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-family: "IBM 3270 narrow", Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    color: #258bff;
    /* color: #ddeeff; */
    letter-spacing: -0.03em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(181, 232, 83, 0.1), 0 0 10px rgba(181, 232, 83, 0.1)
}
#main_content h1 {
    font-size: 32px
}
#main_content h2 {
    font-size: 26px
}
#main_content h3 {
    font-size: 20px
}
#main_content h4 {
    font-size: 16px
}
#main_content h5 {
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 0 5px 0
}
#main_content h6 {
    font-size: 14px;
    text-transform: uppercase;
    color: #999;
    margin: 0 0 5px 0
}
dt {
    font-style: italic;
    font-weight: bold
}
ul li {
    list-style-image: url("vendor/bullet.png")
}
blockquote {
    color: #aaa;
    padding-left: 10px;
    border-left: 1px dotted #666
}
pre {
    background: rgba(0, 0, 0, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.15);
    padding: 10px;
    font-size: 24px;
    /* challenge heading & link colour */
    color: #258bff; /* blue */
    /* color: rgba(255, 145, 0, 0.9); */ /* orange */
    border-radius: 2px;
    text-wrap: normal;
    overflow-y: hidden;
}
table {
    width: 100%;
    margin: 0 0 20px 0
}
th {
    text-align: left;
    /*border-bottom: 1px dashed #b153e8;*/
    padding: 5px 10px
}
td {
    padding: 5px 10px
}
hr {
    height: 0;
    border: 0;
    border-bottom: 1px dashed #b153e8; /* purple */
    color: #258bff
}
.btn {
    display: inline-block;
    background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.3), rgba(35, 35, 35, 0.3) 50%, rgba(10, 10, 10, 0.3) 50%, rgba(0, 0, 0, 0.3));
    padding: 8px 18px;
    border-radius: 50px;
    border: 2px solid rgba(0, 0, 0, 0.7);
    border-bottom: 2px solid rgba(0, 0, 0, 0.7);
    border-top: 2px solid #000;
    color: rgba(255, 255, 255, 0.8);
    /* font-family: Helvetica, Arial, sans-serif; */
    font-family: "IBM 3270 narrow", Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05)
}
.btn:hover {
    background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.6), rgba(35, 35, 35, 0.6) 50%, rgba(10, 10, 10, 0.8) 50%, rgba(0, 0, 0, 0.8))
}
.btn .icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 1px 8px 0 0;
    float: left
}
.btn-github .icon {
    opacity: 0.6;
    background: url("vendor/blacktocat.png") 0 0 no-repeat
}
a {
    /* color: rgba(255, 255, 255, .8); */
    color: rgba(255, 145, 0, 0.9);
    /*text-decoration: underline !important;*/
    text-shadow: 0 0 5px rgba(104, 182, 255, 0.5)
}

a:hover {
    color: rgba(255, 255, 255);;
    text-decoration: underline !important;
}

.cf:before,
.cf:after {
    content: "";
    display: table
}
.cf:after {
    clear: both
}
.cf {
    zoom: 1
}

::selection {
    background: rgba(104, 182, 255, 0.5); /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: rgba(104, 182, 255, 0.5); /* Gecko Browsers */
}


.modal-header {
    border-bottom: 1px solid #4a4a4a;
}

.modal-footer {
    border-top: 1px solid #4a4a4a;
}

.table td, .table th {
    border-top: 1px solid #4a4a4a;
}

.challenge-tags {
    margin-bottom: 1em;
}

.challenge-name {
    color: #ddeeff;
    letter-spacing: 2px;
    margin-bottom: 0px;
}
.challenge-value {
    color: rgba(255, 145, 0, 0.9);
}

main {
    padding-bottom: 20px;
}

.holder {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: -50;
}

.cygrid {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: -100;
}

.cybeartron {
	position: relative;
    font-family: 'Optimus Hollow'; /* Cybertron, Optimus, Megatron */
    letter-spacing: 2px;
    top: 0.1em;
    /* margin-top: 0.5em; */
    text-transform: uppercase;
    font-size: 6vmin;
    z-index:1;
    color: transparent;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.025),
                -1px -1px rgba(255, 255, 255, 0.025),
                -1px 1px rgba(255, 255, 255, 0.025),
                1px -1px rgba(255, 255, 255, 0.025),
                1px 0px rgba(255, 255, 255, 0.025),
                -1px 0px rgba(255, 255, 255, 0.025),
                0px -1px rgba(255, 255, 255, 0.025),
                0px 1px rgba(255, 255, 255, 0.025),
                0px 0px 20px rgba(255, 255, 255, 0.025);
    /* background: linear-gradient(#000000 0%,#113e87 22%,#10cccc 50%,#000000 51%,#e21ddc 78%,#e21ddc 78%,#ffffff 100%); */
    /* background: linear-gradient(#000000 0%,#d8cb1b 22%,#e03d0b 49%,#000000 50%,#196dec 78%,#258bff 78%,#ffffff 100%); */
    background: linear-gradient(#88ffff 0%, #33ddff 25%, #1199ee 49%, #111111 50%, #196dec 53%,#258bff 78%,#ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.thefallof {
    position: relative;
    font-family: 'Megatron italic';
    top: -1em;
    margin-left: 1em;
    margin-right: -6em;
    font-size: 2vmin;
    letter-spacing: -1px;
    text-transform: capitalize;
    transform: skewY(-10deg);
    z-index:2;
    color: #a83500;
    text-shadow: 0.8px 0.8px #fff,
                -0.8px -0.8px #fff,
                -0.8px 0.8px #fff,
                0.8px -0.8px #fff,
                0.8px 0px #fff,
                -0.8px 0px #fff,
                0px -0.8px #fff,
                0px 0.8px #fff,
                0px 0px 12px #fff;
}

.cybeartron_heading {
	position: relative;
    font-family: 'Megatron';
    top: 0.1em;
    left: 1em;
    margin-right: 1em;
    text-transform: uppercase;
    font-size: 6vmin;
    z-index:1;
    color: transparent;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.05),
                -1px -1px rgba(255, 255, 255, 0.05),
                -1px 1px rgba(255, 255, 255, 0.05),
                1px -1px rgba(255, 255, 255, 0.05),
                1px 0px rgba(255, 255, 255, 0.05),
                -1px 0px rgba(255, 255, 255, 0.05),
                0px -1px rgba(255, 255, 255, 0.05),
                0px 1px rgba(255, 255, 255, 0.05),
                0px 0px 20px rgba(255, 255, 255, 0.05);
    /* background: linear-gradient(#000000 0%,#d8cb1b 22%,#e03d0b 49%,#000000 50%,#196dec 78%,#258bff 78%,#ffffff 100%); */
    background: linear-gradient(#000000 0%,#113e87 22%,#10cccc 50%,#000000 51%,#e21ddc 78%,#e21ddc 78%,#ffffff 100%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-dark .navbar-nav .nav-link {
    color:rgba(45, 178, 255, 0.8);
    letter-spacing:-1px;
}
