<html>
  <head>
    <title>Welcome to the best site in the world</title>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous">
    <link href="/static/cover.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">My Site</h3>
          <nav class="nav nav-masthead justify-content-center">
            <!--<a class="nav-link" href="/flag">Home</a>-->
            <span id="status" class="nav-link">unknown</span>
            <a id="login" class="nav-link" href="#">Log in</a>
            <a id="logout" class="nav-link" href="#">Log out</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">{{ banner }}</h1>
        <p class="lead">
          Welcome to my fantastic website. You can feel free to leave a message
          for other visitors using the button below!
        </p>
        <p class="lead">
        <input id="banner_input"></input>
        <a id="post_banner" href="#" class="btn btn-lg btn-secondary">Submit banner</a>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
      </footer>
    </div>
  </body>

  <script>
    $("a#login").on("click", function () {
      $.ajax({type: "POST", url: "/auth", success: function () {
        $("#status").text("Logged in");
      }});
    });
    $("a#logout").on("click", function () {
      $.ajax({type: "DELETE", url: "/auth", success: function () {
        $("#status").text("Logged out");
      }});
    });
    $(window).on("load", function () {
      $.ajax({
        type: "GET", url: "/auth", headers: { Accept: "application/json" },
        success: function (data) {
          if (data[0] !== null && "logged_in" in data[0]) {
            $("#status").text("Logged in");
          } else {
            $("#status").text("Logged out");
          }
        }
      });
    });
    $("#post_banner").on("click", function () {
      var new_banner = $("#banner_input").val();
      $.ajax({
        type: "POST", url: "/banner", contentType: "application/json",
        data: JSON.stringify({banner: new_banner}),
        success: function () {
          $(".cover-heading").text(new_banner);
        },
      });
    });
  </script>

</html>
