{% extends "base.html" %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<br>
			<h1 class="text-center">404</h1>
			<h2 class="text-center">Even tron doesn't know where this is.</h2>
			<h2 class="text-center">There are no secrets here.</h2>
		</div>
	</div>
</div>


{% endblock %}

{% block scripts %}
{% endblock %}
