{% extends "base.html" %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<br>
			<h1 class="text-center">500</h1>
			<h2 class="text-center">Uh-oh. The error is on our end. Let an admin know.</h2>
		</div>
	</div>
</div>


{% endblock %}

{% block scripts %}
{% endblock %}
